
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}
#search-container {
    text-align: center;
    margin-top: 20px;
}
#search-input {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}
#search-btn {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#search-btn:hover {
    background-color: #555;
}
#gif-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.gif {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.gif:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para los GIFs */
.gif {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    animation: fadeIn 0.5s ease; /* Aplica la animación fadeIn */
}

.gif:hover {
    transform: scale(1.05);
}